body{
    margin: 0;
    background: rgb(51, 87, 155);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.overall-container{
    padding:0;
    margin:0;
    width:50%;
    position:absolute;
    display:block;
    left:50%;
    transform:translate(-50%,0);
}

.toDoContainer{
    margin:0;
}

#inputField{
    font-size:20px;
    width:90%;
    border-radius: 10px 0 0 10px;
    vertical-align: center;
    border-right: 0;
}

h1{
    margin:auto;
    position:relative;
    text-align: center;
    padding: 5vw;
    font-weight: bolder;
    font-size: 64px;
    color: rgb(130, 169, 255);
}

#add-task-button{
    width: 10%;
    height: 15%;
    margin: 0;
    padding: 0;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    font-size:30px;
    background: white;
}

#clear-all{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    background: rgb(76, 200, 216);
    font-size: 18px;
    border: 1px solid black;
    margin: 20px 0 20px 0;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    vertical-align: middle;
}

#clear-all-div{
    padding: 20px;
}

#add-task-button:hover{
    background: rgb(20, 163, 219);
    color: white;
}
#add-task-button:hover > #plus{color: white;}

#plus{
    color: rgb(20, 163, 219);
    margin: 0;
    width:100%;
    height: 100%;
}

#taskListHeading{
    text-align:center;
    padding: 3vw;
    color: rgb(130, 169, 255);
}

.paragraph-styling{
    cursor:pointer;
    font-size:25px;
    margin: 10px;
    border: 1px solid red;
    background: #eb8b8b;
    padding: 10px;
    border-radius: 2px;
}

#task-input-flex-container{
    display: flex;
    width: 100%;
}

/* for the individual task slots */

.task-slot{
    display: flex;
    margin: 1.5rem auto;
    background: rgb(245, 253, 130);
    height: 3em;
    align-items: center;
}

.task-name{
    font-size: 27px;
    align-self: center;
    padding: 0.3em 0 0.3em 0.3em;
    height: 100%;
    display: flex;
    align-items: center;
}

.task-remove-button, .task-done-button{
    display: inline-block;
    font-size: 18px;
    border: 0;
    height: 2.7em;
    width: 2.7em;
}

.action-buttons{
    position: absolute;
    right: 0;
}

#done{
    color: white;
    background: green;
}

.task-done-button{
    background: green;
}

.task-done-button:hover{
    color: green;
    background: white;
}
.task-done-button:hover > #done{background: white; color: green;}

#remove{
    color: white;
    background: red;
}

.task-remove-button{
    background: red;
    color: white;
}

.task-remove-button:hover{
    background: white;
    color: red;
}
.task-remove-button:hover > #remove{background: white; color: red;}